.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  align-items: center;
  width: 100%;
}

.input {
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-item {
  display: flex;
  flex-direction: column;
  margin: 1em;
  color: #FFFFFF;
  align-items: center;
}

.input-item label {
  text-align: left;
  margin-bottom: 5px;
}

.input-item button {
  background-color: #FFFFFF;
  margin-top: auto;
  height: 30px;
  width: 140px;
  color: #11455D;
  border-radius: 3px;
  font-weight: 700;
  letter-spacing: 0.10em;
}

.input-item button:hover {
  cursor: pointer;
}

.input select {
  height: 30px;
  width: 160px;
  border-radius: 3px;
  color: #11455D;
  background-color: #ffffff;
  padding: 5px;
}

@media only screen and (max-width: 640px) {
  .input {
    flex-direction: column;
    align-items: center;
  }
  .input-item {
    margin: 0.5em;
  }
}